<div class="qa-dashboard-table table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
            <th class="qa-service clickable" scope="col" {{on "click" (fn this.sortAction "alias")}} role="button">
                Service
                {{#if (eq this.sortCategory "alias")}}
                    <i class="qa-service-icon arrow {{this.direction}}"></i>
                {{/if}}
            </th>
            <th scope="col">
                Status
            </th>
            <th class="qa-uptime clickable" scope="col" {{on "click" (fn this.sortAction "uptime")}} role="button">
                Rolling Uptime for 30 days
                {{#if (eq this.sortCategory "uptime")}}
                    <i class="qa-uptime-icon arrow {{this.direction}}"></i>
                {{/if}}
            </th>
            <th scope="col">
                
            </th>
            </tr>
        </thead>
        <tbody>
            {{#each this.rows as |model|}}
                <TableRow @model={{model}} />
            {{/each}}
        </tbody>
    </table>
</div>
