{{#if @click}}
    <div {{on "click" (fn @click @category)}} role="button">
        {{@name}}
        {{#if (eq @active @category)}}
            <i class="arrow {{@direction}}"></i>
        {{/if}}
    </div>
{{else}}
    <div>
        {{@name}}
    </div>
{{/if}}