<div class="detail-info">Details for service: <strong>{{@model.alias}}</strong></div>
<div class="qa-show-details table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    Icon
                </th>
                <th scope="col">
                    URL
                </th>
                <th scope="col">
                    Uptime percentage
                </th>
                {{#if @model.down}}
                    <th scope="col">
                        Down Since
                    </th>
                {{/if}}
                {{#if @model.description}}
                    <th scope="col">
                        Description
                    </th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src={{@model.favicon_url}} alt="icon" width="30px" height="30px" /></td>
                <td><a target="_blank" rel="noopener noreferrer" href={{@model.url}}>{{@model.url}}</a></td>
                <td class="qa-uptime">{{this.uptime}}%</td>
                {{#if @model.down}}
                    <td class="qa-down-since">{{@model.down_since}}</td>
                {{/if}}
                {{#if @model.description}}
                    <td class="qa-description">{{@model.description}}</td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>
