<tr class="qa-table-row">
    <td class="qa-service-column"><a target="_blank" rel="noopener noreferrer" href={{this.url}}>{{this.alias}}</a></td>
    <td class="qa-status-column">{{this.status}}</td>
    <td class="qa-uptime-column">{{this.uptime}}%</td>
    <td class="qa-details-column"><LinkTo @route="details" @model={{@model.id}}>Details</LinkTo></td>
</tr>